html,
body {
  margin: 0;
  overflow: hidden;
}

#App {
  width: 100vw;
  height: 100vh;
  background: black;
}

a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  margin-left: 20px;
  z-index: 20;
  position: relative;
  /* add below for hidden menu */
  /* display: none; */
}

a.project-buttons {
  border: 1px solid white;
  padding: 12px;
  color: white;
  margin-left: 0;
  margin-right: 16px;
  font-size: 11px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0;
  pointer-events: none;
  display: initial;
}

a.project-buttons:hover {
  background-color: white;
  color: black;
}

.start-fade {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  z-index: 100;
  pointer-events: none;
  animation: fade-in 0.3s forwards;
  animation-delay: 1.5s;
}

@keyframes fade-in {
  from {
    background-color: black;
  }
  to {
    background-color: transparent;
  }
}

.fade {
  height: 100vh;
  width: 100%;
  background: linear-gradient(transparent, black);
  position: absolute;
  bottom: 0;
}

.fps-counter canvas {
  position: inherit;
  top: 0;
  left: unset;
  right: 15px;
}

canvas {
  z-index: 10;
  position: relative;

  mask: linear-gradient(170deg, transparent 0%, black 0%) top left,
    linear-gradient(-135deg, transparent -50%, #000000 40%) top right,
    linear-gradient(-45deg, transparent 0%, black 30%) bottom right,
    linear-gradient(30deg, transparent 5px, black 60%) bottom left;

  -webkit-mask: linear-gradient(170deg, transparent 0%, black 0%) top left,
    linear-gradient(-135deg, transparent -50%, #000000 40%) top right,
    linear-gradient(-45deg, transparent 0%, black 30%) bottom right,
    linear-gradient(30deg, transparent 5px, black 60%) bottom left;

  mask-size: 51% 51%;
  -webkit-mask-size: 51% 51%;

  mask-repeat: no-repeat;
}

.scroll {
  scroll-behavior: smooth;
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  top: 0;
  left: 0;
  transition: 0.2s;
  -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 70%);
  mask-image: linear-gradient(to bottom, black 40%, transparent 70%);
}

.text > h2 {
  -webkit-font-smoothing: auto;
  pointer-events: none;
  color: white;
  font-size: 5em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}

.text {
  color: white;
  max-width: 600px;
  padding: 60px;
  line-height: 1.6em;
  letter-spacing: 1.1px;
  font-size: 16px;
  font-weight: 300;
}

.text > p:last-of-type {
  margin-bottom: 32px;
}

.text > p > a {
  opacity: 0.5;
  line-height: 1.5em;
  letter-spacing: 1.1px;
  font-size: 16px;
  margin-left: 0;
  text-underline-offset: 2px;
  /* text-decoration: none; */
}

/* .contact-wrapper { */
/* somethingsomething */
/* } */

.contact-text {
  position: sticky;
  top: 0px;
  max-width: 600px;
  padding: 60px;
  line-height: 1.5em;
  letter-spacing: 1.1px;
}

.contact-text > h2 {
  -webkit-font-smoothing: auto;
  pointer-events: none;
  color: white;
  font-size: 4em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-top: 10vh;
  margin-bottom: 20px;
}

.contact-text > a {
  color: white;
  font-weight: 200;
  font-size: 1.8em;
  margin-left: 0;
}

.knowledge-text {
  display: flex;
  justify-content: center;
  z-index: 100000;
  position: relative;
  margin-right: 20px;
}

.knowledge-text > div {
  width: 160px;
  padding: 50px 40px;
  background: linear-gradient(transparent 0%, black 100%);
  box-shadow: 0 50px 30px black;
  margin-top: 50vh;
}

.knowledge-text > div > p {
  color: white;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.05em;
  z-index: 100000;
  position: relative;
  margin: 14px;
}

.github {
  position: fixed;
  top: 0;
  right: 0;
}

.github-logo {
  margin: 20px 30px;
  width: 40px;
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 800px) {
  .text > h2 {
    font-size: 2.5em;
    letter-spacing: 0.04em;
  }
  .github-logo {
    margin: 15px 15px;
    width: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }

  .text {
    padding: 12px;
    line-height: 1.5em;
    font-size: 14px;
    letter-spacing: 0.03em;
  }

  a.project-buttons {
    padding: 8px;
    background-color: #00000030;
  }

  .text > p {
    max-width: 270px;
  }

  .text > p:last-of-type {
    margin-bottom: 22px;
  }

  .text > p > a {
    line-height: 1.5em;
    font-size: 14px;
    letter-spacing: 0.03em;
  }

  .fade {
    height: 120vh;
  }

  #dev-nav {
    opacity: 0;
  }

  .knowledge-text {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: calc(9.5vw - 4px);
    background: linear-gradient(transparent 0%, black 100%);
    box-shadow: -20px 10px 30px black;
    padding-bottom: 400px;
  }

  .knowledge-text > div {
    padding: 0;
    margin-top: 0px;
    min-width: 30vw;
    margin-top: 24px;
    box-shadow: none;
    background: none;
  }

  .knowledge-text > div > p {
    font-size: 16px;
    margin: 10px 14px;
  }

  .contact-text {
    padding: 40px 12px;
  }

  .contact-text > h2 {
    font-size: 2.4em;

    margin-top: 16vh;
    margin-bottom: 12px;
  }

  .contact-text > a {
    font-size: 1.4em;
  }

  canvas {
    -webkit-mask: linear-gradient(to bottom, transparent 15%, black 40%);
    mask: linear-gradient(to bottom, transparent 15%, black 40%);
  }
}
